################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sln
/.vs/SocialAnalyticsApp/v14/.suo
